page-stockin {

    .card-background-page {

        ion-card {
          position: relative;
          text-align: center;
        }
    
        .card-title {
          position: absolute;
          top: 20%;
          font-size: 2.0em;
          width: 100%;
          font-weight: bold;
          color: #fff;
        }
    
        .card-subtitle {
          font-size: 1.0em;
          position: absolute;
          top: 52%;
          width: 100%;
          color: #fff;
        }
    
      }
      .ion-card {
            background-color: red;
            width: 300px;
            height: 90px;
            border-radius: 5px;
    
    
            margin: 0 auto 10px;
             max-width: 700px;
    
        }
    
        ion-label{
          font-size: 12px;
          font-weight: bold;
        }
    .center-img{
      display: block;
       margin: auto;
    }
    
    
    img{
      margin-top: 12px;
    
      height: 80px;
      width: 80px;
      margin: auto;
      display: block;
    }

}
